.selectFilters {
  display: flex;
  justify-content: space-between;
}

.selectFilters p {
  color: #949494;
  font-size: 13px;
  margin-bottom: 10px;
}

.filters {
  margin-top: 10px;
  margin-bottom: 20px;
}

.slider {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.slider p {
  font-size: 13px;
  color: #666666;
  margin-left: 2px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tags {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 2px 10px;
  /* margin-right; */
  cursor: pointer;
}

.tags span {
  font-weight: 600;
}

.tags img {
  margin-left: 5px;
}

.primary {
  color: var(--color-primary);
  background-color: #f6f9ff;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.secondary {
  color: #737373;
  background-color: #f4f4f4;
  /* border: 1px solid #737373; */
  border-radius: 5px;
}
