@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color-primary: #4c82ef;
  --font-global: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: var(--font-global);
  line-height: 1.5;
  background-image: linear-gradient(to right bottom, #e6eeff 47%, white);
  overflow-x: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img,
svg {
  display: block;
  /* max-width: 100%; */
}
